

.center-align{
  width: 300px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: table;
  margin-top: -40px;
  margin-left: -150px;
}

input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}

.customButton{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #454545;
  color: red;
  padding: 5px 10px;
  border-radius: 3px;
  font: normal 1em/1.5 'Roboto';
}
input[type="radio"]:checked + label{
  background-color: #58ba83;
}

#size_2_label{
  color:white;
  background-color: orang
}



