{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<head>
<style>
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}
</style>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>


<div style="background-color:#343a40" class="jumbotron">
	<div class="container">
		<h1>Register</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% for error in errors %}
				<div class="alert alert-danger alert-dismissable" role="alert">
				  <span class="sr-only">Error:</span>
				  {{ error }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
			{% endfor %}
			<form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
				<div class="form-group">
					<label for="name-input">
						Team Name
					</label>
					<input class="form-control" type="text" name="name" id="name-input" {% if name %}value="{{ name }}"{% endif %} />
				</div>
				<div class="form-group">
					<label for="email-input">
						Email
					</label>
					<input class="form-control" type="text" name="email" id="email-input" {% if email %}value="{{ email }}"{% endif %} />
				</div>
				<div class="form-group">
					<label for="password-input">
						Password
					</label>
					<input class="form-control" type="password" name="password" id="password-input" {% if password %}value="{{ password }}"{% endif %}/>
				</div>
				 <div class="form-group">
					 
               			
			 		<label for="color-input">Color</label>
     
					<div class="container text-center mt-4">				 
						<div class="card mb-4">
                					<div class="card-body">
	    							<!--Red-->
                    						<button type="button" class="btn btn-red" name="color" id="RED" value="RED" onclick="myFunction()">RED</button>
                    						<!--Blue-->
                    						<button type="button" class="btn btn-blue" id="BLUE" value="BLUE">BLUE</button>
								<br>
                    						<!--Green-->
                    						<button type="button" class="btn btn-green" id="GREEN" value="GREEN">GREEN</button>
                    						<!--Yellow-->
                    						<button type="button" class="btn btn-yellow" id="YELLOW" value="YELLOw">YELLOW</button>
                    						<br>
								<!--Aqua-->
                    						<button type="button" class="btn btn-cyan" id="AQUA" value="AQUA">AQUA</button>
                   						 <!--Purple-->
                    						<button type="button" class="btn btn-purple" id="PURPLE" value="PURPLE">PURPLE</button>
                    						<br>
                    						<!--Dark-green-->
                    						<button type="button" class="btn btn-dark-green" style="background-color:#ea7cd9" value="PINK">PINK</button>
                    						<!--Light-green-->
                    						<button type="button" class="btn btn-light-green" style="background-color:#00b995">TURQUOIS</button>
                    						<br>
								<!--Yellow-->
                    						<button type="button" class="btn btn-yellow" style="background-color:#bd8802">GOLD</button>
                    						<!--Amber-->
                    						<button type="button" class="btn btn-amber" style="background-color:#9cff29; color:black">NEON</button>
                    						
                					</div>
            					</div> 
					</div>
				 <div class="form-group">
                                        <label for="password-input">
                                                School
                                        </label>
                                        <input class="form-control" type="text" name="school" id="color-input" {% if school %}value="{{ school }}"{% endif %}/>
                                </div>
				 <div class="form-group">
                                        <label for=image-input">
                                                Image
                                        </label>
                                        <input class="form-control" type="text" name="image" id="color-input" {% if image %}value="{{ image }}"{% endif %}/>
                                </div>

				<div class="row pt-3">
					<div class="col-md-12">
						<button type="submit" id="submit" tabindex="5" class="btn btn-md btn-primary btn-outlined float-right">Submit</button>
					</div>
				</div>
				<input type="hidden" name="nonce" value="{{ nonce }}">
			</form>
		</div>
	</div>
</div>
<script>

function myFunction() {
    document.getElementById("color").value = document.getElementById("color").value;
}
<script>

$('.button').click(function(){
    if($(this).hasClass('active')){
        $(this).removeClass('active')
    } else {
        $(this).addClass('active')
    }
});

</script>
</script>
{% endblock %}

{% block scripts %}
{% endblock %}
